<html>
    <head>
        <title>Teste Lojas</title>

        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

        <script src="node_modules/angular/angular.min.js"></script>
        
        <script src="static/controladores/module.js"></script>

        <script src="static/controladores/TelaInicialController.js"></script>
    </head>

    <body ng-app="lojas">

        <h1>It Works!!</h1>

        <div ng-controller="TelaInicialController">

            <h2>Lista de Cidades-Loja</h2>

            <div class="card" style="width: 30rem;">
                <ul class="list-group list-group-flush" ng-repeat="loja in lojas">
                  <li class="list-group-item">{{loja.name}} || {{loja.longitude}} || {{loja.latitude}}</li>
                </ul>
            </div>

<!--            <table>
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Longitude</td>
                        <td>Latitude</td>
                    </tr>
                    
                </thead>
                
                <tbody>
                    <tr ng-repeat="loja in lojas">
                        <td>{{loja.name}}</td>
                        <td>{{loja.longitude}}</td>
                        <td>{{loja.latitude}}</td>

                    </tr>
                </tbody>
            </table>
-->
        </div>


    </body>

</html>